[Desktop Entry]
Type=Application
Name=Qvevri
Comment=Basic Wine Manager
Categories=Utilities;
Keywords=gaming;wine;emulator;
Exec=qvevri %U
Icon=/qvevri/share/qvevri/media/logo.png
Terminal=false
MimeType=x-scheme-handler/qvevri;
